.formulario{
    text-align: center;
    background-color: #ede9e9;
}

body {
    padding-top: 80px;
    background-image: url(img/background.jpg);
    min-height: 100vh;
   display: flex;
   flex-direction: column;
 }

 .menuIniciar{
    min-width: 300px;
    position: absolute;
    left: -70px;
    
 }

 .card-img-top{
    max-height: 230px;
 }

 footer {
   margin-top: auto;
 }